@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme  {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
}
