@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  border: 1px solid #0033352a;

}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  border: 1px solid #0033351f;
}

.blue::after {
  content: '';
  position: absolute;
  width: 15;
  height: 15;
  background-color: greenyellow;
  border-radius: 50%;
  bottom: 0;
  border: 2px solid white;
  right: -0.5;
}